.date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 5px 0;
	font-size: var(--heading-font-size);
  }
  
  .calendar {
	display: flex;
	align-items: center;
  }
  
  .day {
	font-size: var(--big-font-size);
	font-weight: bold;
  }
  
  .my {
	padding-left: 5px;
  }
  
  .pomodoroContainer {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2900f7;
	padding: 10px 0 10px 0;
	border-radius: 5px;
	margin-bottom: 20px;
  }
  